body {
    font-size: 16px;
    font-family: Roboto, Arial, serif;
    line-height: 20px;
    width: 1032px;
    color: #515454;
    background-color: #F6F6F6;
    margin: auto;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    color: #FFA44E;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
}

h6 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

li ~ li {
    margin-top: 8px;
}

li {
    list-style-type: none;
}

a {
    color: #FFA44E;
}

section:nth-child(n+2) {
    margin-top: 60px;
}

.icon {
    width: 1em;
    height: 1em;
    color: #F6F6F6;
}

.section-header {
    display: flex;
    align-items: center;
}

.side-block .section-header  {
    color: #F6F6F6;
    background-color: rgba(255,255,255,0.2);
}

.main-content-block .section-header  {
    background-color: #E9E9E9;
}

.header {
    display: flex;
}

.header-avatar {
    background-color: #5A5B65;
    width: 416px;
    height: 382px;
}

.photo {
    width: 416px;
    height: 262px;
    margin-top: 60px;
    position: relative;
}

.header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 48px;
    width: 568px;
}

.header-name .job-position {
    margin-top: 12px;
}

.main {
    display: flex;
}

.side-block {
    flex-shrink: 0;
    width: 416px;
    color: #F6F6F6;
    background-color: #5A5B65;
}

.figure-decor {
    width: 32px;
    height: 40px;
    background-color: #FFA44E;
    margin-right: 16px;
}

.section-content {
    padding: 0 48px;
    margin-top: 16px;
}

.list-item {
    display: flex;
    align-items: center;
}

.list-item-text {
    margin-left: 12px;
}

.section-content h6 {
    margin-bottom: 8px;
}

ul.big-margin li:nth-child(n+2) {
    margin-top: 16px;
}

.bg-color-code {
    background-color: rgba(255,255,255,0.5);
    padding: 8px 48px;
    margin-top: 16px;
}

ul.ul-with-mark > li {
    list-style-type: unset;
}

.code-color-green {
    color: #5DA379;
}

.code-color-red {
    color: #DA4040;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    background-color: #5A5B65;
    height: 60px;
    margin: auto;
}

.rsschool-icon {
    height: 32px;
}

.main > * {
    padding-bottom: 60px;
}

.footer-item:nth-child(n+2) {
    margin-left: 80px;
}
