* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #F6F6F6;
  --color-primary: #5A5B65;
  --color-secondary: #FFA44E;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1120px;
  font-family: 'Roboto', sans-serif;
  color: #515454;
}

img {
  display: block;
}

li {
  list-style: none;
}

& ul.dotted-list li {
  list-style: none outside disc;
}

a {
  text-decoration: none;
  color: #3F81E4;

  &:hover {
    color: var(--color-secondary);
  }
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  line-height: 24px;
}

p:not(:first-child) {
  margin-top: 12px;
}

header {
  display: flex;
  height: 340px;
  background-color: var(--color-bg);

  & .avatar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 380px;
    background-color: var(--color-primary);

    & img {
      width: 100%;
    }
  }

  & .header-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;

    & .navigation-items-container {
      display: flex;
      gap: 12px;
      padding: 20px 0;
      text-transform: capitalize;
    }

    & .name-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 2;
    }

    & h1 {
      color: var(--color-secondary);
    }

    & .title {
      margin-top: 12px;
    }
  }
}

main {
  & .content-container {
    display: flex;

    & h2 {
      text-transform: capitalize;
    }

    & .data-accent {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 60px;
      max-width: 380px;
      color: #F6F6F6;
      background-color: var(--color-primary);

      & .data-item {
        & h2 {
          padding-left: 1.5em;
          background-color: rgb(255, 255, 255, 0.2);
        }

        & h6 {
          color: var(--color-secondary);
        }

        & .details {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 1em 0.5em 0 2em;
        }

        &.contacts {
          & .item {
            display: flex;
            align-items: center;
            gap: 12px;
          }
        }

        &.education {
          display: flex;
          flex-direction: column;
          gap: 16px;

          & .education-item {
            margin-top: 8px;
            line-height: 20px;
          }
        }
      }
    }

    & .data-regular {
      flex-shrink: 2;
      background-color: var(--color-bg);

      & h2 {
        display: flex;
        align-items: center;
        background-color: #E9E9E9;

        &::before {
          content: "";
          display: block;
          margin: 0 14px;
          width: 20px;
          height: 20px;
          background-color: var(--color-secondary);
        }
      }

      & .data-regular-content {
        padding: 1em 0 2em 2em;
      }

      & .skills-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-left: 12px;
      }

      & .code {
        .code-example {
          position: relative;
          margin-top: 8px;
          padding: 12px 12px 12px 48px;
          width: 100%;
          background-color: rgb(255, 255, 255, 0.6);
        }
      }
    }
  }
}

.text-xs {
  font-size: 14px;
}

.code-color {
  color: #EC790D;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  color: #F6F6F6;
  background-color: var(--color-primary);

  & .content-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .item:not(:first-child) {
      margin-left: 80px;
    }

    & .rs-logo {
      width: 85px;
      height: 32px;
    }
  }
}